<!-- file: views/homepage.erb -->
<html>
  <head><link href="<%= url('/users.css') %>" rel="stylesheet" type="text/css" /></head>
  <body>
  <div>
    <%if @user_id.nil?%>
    <div class="container">
    <div class="image">
      <img src="<%= url('/airbnb.png') %>" width="100px">
      </div>
      <div class="text">
      <a href="/"> <h1>MakersBnB!</h1></a>
      </div>
      </div>
      <h3>Welcome to MakersBnB </h3>
      <p>
      
      <br><br>
      <a href="/signup"><button class="button">Sign up</button></a>
      <a href="/login"><button class="button">Log in</button></a>
      <br><br>
    <% else %>
      <a href="/"> <h1>MakersBnB!</h1></a>
      <h3>Welcome to MakersBnB <%=@name%></h3>
      <p>
      
      <br><br>
      <a href="/list_property"><button class="button">List Property</button></a>
      <br><br>
    <% end %>

    List of Properties:
    <center>
    <table>
      <tr>
        <th>Name</th>
        <th>Price per night</th>
      </tr>
    <% @properties.each do |property| %>
    <tr>
      <td><a href="/property/<%= property.id %>"><%= property.name %></a></td> 
     <td>£<%= property.price %></td>
    <% end %>
    </tr>
    </table>
    </center>
    
    </p>
</div>
    


  </body>
</html>