<html>
  <head><link href="<%= url('/users.css') %>" rel="stylesheet" type="text/css" /></head>
  <body>
    <!-- the ERB tag below will be replaced by the value of @name -->
     <a href="/"> <h1>MakersBnB!</h1></a>
     <h3>Details of a property MakersBnB!</h3>
    <p>
    
    <a href="/"><button class="button">Home page</button></a><br><br>
    Property details:
    
    <div>Name: <%= @property.name %></div>
    <div>Description: <%= @property.description %></div>
    <div>Price per night: £<%= @property.price %></div>

     <div>Owner is <%= @property.user_id %></div>
    

    <br>
    <a  href="/availability/<%= @property.id %>"><button class="button">Property dates</button></a><br><br>
    </p>

    
  </body>
</html>